<% layout('/layouts/boilerplate') %>

  <div id="cluster-map"></div>

  <a href="campgrounds/new"><button class="btn btn-primary my-3" type="button">
      Add new campGround
    </button></a>
  <% for(let campground of campgrounds) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length> 0){ %>
            <img class="img-fluid" src="<%=campground.images[0].url%>" alt="Campground Image" />
            <% } else { %>
              <img class="img-fluid"
                src="https://e7.pngegg.com/pngimages/829/733/png-clipart-logo-brand-product-trademark-font-not-found-logo-brand.png"
                alt="No Image Available" />
              <% } %>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/campgrounds/<%= campground._id %>">
                <%= campground.title %>
              </a>
              <p class="card-text">
                <%= campground.description %>
              </p>
              <p class="card-text">
                <small class="text-muted">
                  <%= campground.location %>
                </small>
              </p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <%}%>

      <script>
        // Pass campground data from EJS to a global JavaScript variable
        window.campgrounds = <%- JSON.stringify(campgrounds) %>;
      </script>
      <script src="/js/mapbox.js"></script>